<launch>

  <!-- 本地和全局的代价地图和规划器参数配置-->
  <rosparam file="$(find car_navigation)/costmap_common_params/local_costmap_params.yaml"      command="load" ns="move_base"/>
  <rosparam file="$(find car_navigation)/costmap_common_params/global_costmap_params.yaml"     command="load" ns="move_base"/>
  <rosparam file="$(find car_navigation)/costmap_common_params/move_base_params.yaml"          command="load" ns="move_base"/>
  <rosparam file="$(find car_navigation)/costmap_common_params/base_global_planner_param.yaml" command="load" ns="move_base"/>
  
  <param name="move_base/base_local_planner"    type="string" value="teb_local_planner/TebLocalPlannerROS"/>

  <!-- Arguments参数 -->
  <arg name="car_mode"  default="" />

  <!--车模参数 -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find car_navigation)/costmap_common_params/teb_local_planner_params.yaml"  command="load"/>
    <rosparam file="$(find car_navigation)/costmap_common_params/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find car_navigation)/costmap_common_params/costmap_common_params.yaml" command="load" ns="local_costmap" />
  </node>

</launch>


