<!-- -->

<launch>
 
  <!-- 用于robot_state_publisher节点-->
  <node pkg="tf" type="static_transform_publisher" name="base_to_link" args="0 0 0 0 0 0 base_footprint base_link 100" />
  
   <!--坐标变换，需要实测 -->
   <!-- 用于rplidar_ros节点，摄像头,imu节点,robot_pose_ekf节点-->

   <node pkg="tf" type="static_transform_publisher" name="base_to_laser" args="0.52 0.24 0.195 3.14 0 0  base_link laser 100" />
   <node pkg="tf" type="static_transform_publisher" name="base_to_camera" args="0.54 0.24 0.12 0 0 0   base_link camera_link 100" />
   <node pkg="tf" type="static_transform_publisher" name="base_to_gyro" args="0.29 0.24 0.10 0 0 0 base_link gyro_link 100" />

  <!-- 加载无人车URDF模型 阿克曼转向结构-->

  <param name = "robot_description" textfile = "$(find car_description)/urdf/urdf/car_description0.urdf"/> 

  <!-- 订阅话题：/joint_states，发布小车TF信息-->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

 </launch>


