<launch>

<!--坐标模型--> 
    <!-- 发布用于建图、导航的TF关系与小车外形可视化 -->
    <include file="$(find car_navigation)/launch/include/TF_description.launch" />

    <!-- 使用cartographer算法时不用该滤波-->
    <!--include file="$(find car_navigation)/launch//include/robot_pose_ekf.launch" /-->

<!--需要先在cartographer_ws中启动roslaunch cartographer_ros carto_star.launch-->
<!--cartographer的参数在My_delta_lidar.lua中配置-->

</launch>